/* body */
body{
    margin :0;
    padding :0;
}

/* main */
section{
    margin: 150px auto 0px auto;
    width:400px;
    padding:40px;
    border-radius: 5px;
    border:1px solid black;
}
h1{
    text-align: center;
}
.input-container{
    display: flex;
}
#taskInput{
    flex:1;
    padding: 10px;
}
#add-btn{
    color:white;
    background-color: black;
    border: none;
}


/* if elements are creating dynamically */
/* .taskDiv{
    border:1px solid black;
    margin:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}
.done-btn,.edit-btn,.delete-btn{
    color:white;
    background-color: black;
    border: none;
    margin:10px;
    padding:5px 10px;
} */

/* if elements are creating using  bectic operator */
#taskList div{
    border:1px solid black;
    margin:10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

#taskList button{
    color:white;
    background-color: black;
    border: none;
    margin:10px;
    padding:5px 10px;
}

.completed{
    text-decoration: line-through;
    color:red;
}
